.App {
  text-align: center;
  position: relative;
  font-weight: 600!important;

}

.App-header {
  font-size: calc(10px + 2vmin);
}


@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;600&display=swap');

.App-header a {
  font-family: 'Alef', sans-serif;
  text-transform: none!important;
  color: #6A6D82 !important;
}

.App-header a.Mui-selected {
  color: #2E2F38 !important;
}

.App-header .MuiTabs-indicator {
  visibility: hidden!important;
}
.App-link {
  color: #61dafb;
}

.App video {
  position: absolute;
  left: 0px;
  width: 100vw;
  top: 0;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
